Source: gnoll
Section: games
Priority: extra
Maintainer: Bruno Mahé <bruno@gnoll.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://www.gnoll.org

Package: gnoll
Architecture: any
Depends:
Description: 3D Action/RPG Game Engine



Package: gnoll-doc
Architecture: all
Description: Documentation for gnoll
